<div id="box_sign">
  <div class="container">
    <div class="span12 box_wrapper">
      <div class="span12 box">
        <div>
          <div class="head">
            <h4>Create your account</h4>
          </div>
          <div class="form">
            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= f.text_field :name, :placeholder => 'Name' %>
              <%= f.text_field :email, :placeholder => 'Email' %>
              <%= f.password_field :password, :placeholder => 'Password' %>
              <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %>
              <%= f.submit 'Sign up', class: 'btn' %>
            <% end %>
          </div>
        </div>
      </div>
      <p class="already">Already have an account? 
      <%= link_to "Sign in", signin_path %>
    </div>
  </div>
</div>
