<div class='container'>

  <div class='row'>
    <div class='span8'>
      <h3 class="section_header left">
        Your <%= @user.sites.count==1 ? 'website' : 'websites' %>
      </h3>
      <table class='table table-striped table-hover'>
        <tbody>
          <% @user.sites.each do |site| %>
            <tr id='row_<%= site.id.to_s %>'>
              <td>
                <h4>
                  <%= link_to('http://' + site.subdomain + '.mbilify.com', class: 'text-success', rel: 'tooltip', title: 'Click to go to the mobile site') do %>
                    <i class='icon-mobile-phone icon-large'></i> <%= site.subdomain.capitalize %>
                  <% end %>
                </h4>
              </td>
              <td>
                <%= link_to('/editor/'+site.id.to_s, class: 'btn btn-success', rel: 'tooltip', title: 'Edit the mobile site') do %>
                  <i class='icon-edit icon-large'></i> Edit
                <% end %>
              </td>
              <td>
                <% modalIdSelector = '#goLiveModal_' + site.subdomain %>
                <%= link_to(modalIdSelector, class: 'btn btn-success', data: { toggle: 'modal' }, rel: 'tooltip', title: 'Edit domain name and redirect from your desktop site' ) do %>
                  <i class='icon-globe icon-large'></i> Go Live
                <% end %>
                <%= render :partial => 'goLiveModal', :locals => { :site => site } %>
              </td>
              <td>
                <%= link_to('#trafficModal_' + site.id.to_s, class: 'btn btn-success', data: { toggle: 'modal' }, rel: 'tooltip', title: 'See how many people have visited your mobile site') do %>
                  <i class='icon-facetime-video icon-large'></i> Traffic
                <% end %>
                <%= render :partial => 'trafficModal', :locals => { :site => site } %>
              </td>
              <td>
                <%= link_to(site, class: 'btn btn-danger', method: :delete, data: { confirm: site.subdomain + '.com' }) do %>
                  <i class='icon-trash icon-large'></i> Delete</a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

       <h3 class="section_header left">
         Convert another website
      </h3> 
      <div class='input-large input-append'>
        <% if Rails.env.production? %>
          <input style='height:29px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here'></input>
        <% end %>
        <% if Rails.env.development? %>
          <input style='height:29px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here' data-provide='typeahead' data-items='30' data-source='<%= get_test_sites %>'></input>
        <% end %>
        <a id='action' class='btn btn-large btn-success'>
          <i class='icon-bolt icon-large'></i>
          Take action now!
        </a>
      </div>
    </div>

    <div class='span4'>
      <div class='mobile'>
        <div class='screen' id='mobile_screen'>
          <iframe class='preview'></iframe>
        </div>
      </div>  
    </div>
  </div>
</div>

<%= render 'confirmDeleteModal' %>
<%= render 'welcomeModal' %>

<% if current_user != nil %>
  <% userid = current_user.id %>
<% else %>
  <% userid = '' %>
<% end %>

<div id='current-userid' data-current-userid="<%= userid %>" class='hidden'></div>

<div class='hidden'>
  <div class='desktop'>
    <div class='screen'></div>
  </div>
</div>
