<div class='container'>

  <div class='row'>
    <div class="span8">

      <div id="styles">
        <ul class='thumbnails'>
          <% theme = %w(A B C D E F G H I J K) %>
          <% theme.each do |t| %>
            <li class='span2'>
            <%= link_to(image_tag("#{t}.png"), '#', id:"theme#{t}", class:'thumbnail')%>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="edit">
        <%= link_to 'Edit Your Site', '/editor'+request.path, class: 'btn btn-primary btn-large' %>
      </div>

      <div id="golive">
        <a class='btn btn-success btn-large'>Go Live!</a>
      </div>

      <%#<div class='accordion' id='accordion'>%>
        <%#<div class='accordion-group'>%>
          <%#<div class='accordion-heading'>%>
            <%#<a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion' href='#collapse'>%>
              <%#Go Live!%>
            <%#</a>%>
          <%#</div>%>
          <%#<div id='collapse' class='accordion-body collapse in'>%>
            <%#<div class='accordion-inner'>%>
              <%#<%= simple_form_for(@site) do |f| %>%>
                <%#<legend>Choose a subdomain</legend>%>
                <%#<%= f.input :subdomain %>%>
                <%#<%= f.submit 'Save' %>%>
              <%#<% end %>%>
            <%#</div>%>
          <%#</div>%>
        <%#</div>%>
      <%#</div>%>

    </div>    

    <div class='span4'>

      <div class='mobile'>
        <div class='screen'>
          <iframe class='preview' src='/sites/show'></iframe>
        </div>
      </div>  

    </div>

  </div>
</div>
