<div class='container'>

  <div class='row'>
    <div class='span8'>
      <h3 class="section_header left">
        Your <%= @user.sites.count==1 ? 'website' : 'websites' %>
      </h3>
      <table class='table table-striped table-hover'>
        <tbody>
          <% @user.sites.each do |site| %>
            <tr id='row_<%= site.id.to_s %>'>
              <td class='text-success'>
                <strong><%= site.subdomain.capitalize %></strong>
              </td>
              <td>
                <%= link_to('/editor/'+site.id.to_s, class: 'btn btn-success') do %>
                  <i class='icon-edit icon-white'></i> Edit
                <% end %>
              </td>
              <td>
                <% modalIdSelector = '#goLiveModal_' + site.subdomain %>
                <%= link_to(modalIdSelector, class: 'btn btn-success', data: { toggle: 'modal' } ) do %>
                  <i class='icon-globe icon-white'></i> Live
                <% end %>
                <%= render :partial => 'goLiveModal', :locals => { :site => site } %>
              </td>
              <td>
                <a class='btn btn-success disabled' href='#'><i class='icon-facetime-video icon-white'></i> Traffic</a>
              </td>
              <td>
                <%= link_to(site, class: 'btn btn-danger', method: :delete, data: { confirm: site.subdomain + '.com' }) do %>
                  <i class='icon-trash icon-white'></i> Delete</a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

       <h3 class="section_header left">
         Convert another website
      </h3> 
      <div class='input-large input-append'>
        <% if true %>
          <input style='height:34px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here'></input>
        <% end %>
        <% if false %>
          <input style='height:34px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here' data-provide='typeahead' data-items='10' data-source='<%= get_test_sites %>'></input>
        <% end %>
        <a id='action' class='btn btn-large btn-success'>Take action now!</a>
      </div>
    </div>

    <div class='span4'>
      <div class='mobile'>
        <div class='screen' id='mobile_screen'>
          <iframe class='preview'></iframe>
        </div>
      </div>  
    </div>
  </div>
</div>

<%= render 'confirmDeleteModal' %>
<%= render 'welcomeModal' %>

<% if current_user != nil %>
  <% userid = current_user.id %>
<% else %>
  <% userid = '' %>
<% end %>

<div id='current-userid' data-current-userid="<%= userid %>" class='hidden'></div>

<div class='hidden'>
  <div class='desktop'>
    <div class='screen'></div>
  </div>
</div>
