<% content_for :logo_img do %>
  <div id='logo_img' data-mercury='full'>
    <%= raw @site.logo_img %>
  </div>
<% end %>

<% content_for :action_buttons do %>
  <a href='tel:<%= @site.phone %>' data-role='button' data-inline='false' data-icon='phone'>Call Us!</a>
  <a href=<%= @site.addresses ? make_map_url(@site.addresses.first) : '#' %> data-role='button' data-inline='false' data-icon='mappin'>Find Us!</a>
<% end %>

<% content_for :nav_menu do %>
  <% if !@site.nav_menu.nil? %>
    <% if @site.nav_menu.count < 4 %>
      <ul id='nav' data-role='listview' data-inset='true'>
        <% @site.nav_menu.each do |menu_item| %>
          <li>
          <%= link_to menu_item, '#' %> 
          </li>
        <% end %>
      </ul>
    <% else %>
      <ul id='nav' data-role='listview' data-inset='true'>
        <% @site.nav_menu[0..2].each do |menu_item| %>
          <li>
          <%= link_to menu_item, '#' %> 
          </li>
        <% end %>
        <div data-role='collapsible'>
          <h3>More</h3>
          <ul id='nav' data-role='listview'>
            <% @site.nav_menu[3..-1].each do |menu_item| %>
              <li>
              <%= link_to menu_item, '#' %> 
              </li>
            <% end %>
          </ul>
        </div>
      </ul>
    <% end %>
  <% end %>
<% end %>

<div id='site_content' data-mercury='full'>
  <%= raw @site.content %>
</div>
