<% content_for :logo_img do %>
  <div id='logo_img' data-mercury='full'>
    <%= raw @site.logo_img %>
  </div>
<% end %>

<% content_for :action_buttons do %>
  <div id='buttons' data-mercury='snippets'>
    <a href='tel:<%= @site.phone %>' 
      id='tap_to_call'
      data-role='button' 
      data-inline='false' 
      data-icon='phone'>Call Us!
    </a>
    <a href=<%= @site.addresses ? make_map_url(@site.addresses.first) : '#' %> data-role='button' data-inline='false' data-icon='mappin'>Find Us!</a>
  </div>
  <% if !@site.snippet.blank? %>
    <%= raw @site.snippet %>
  <% end %>
<% end %>

<% content_for :nav_menu do %>
  <div id='menu' data-mercury='snippets'>
    <% if !@site.nav_menu.nil? %>
      <% if @site.nav_menu.count < 4 %>
        <ul id='nav' data-role='listview' data-inset='true'>
          <% @site.nav_menu.each do |name,url| %>
            <li>
            <%= link_to name, url %> 
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul id='nav' data-role='listview' data-inset='true'>
          <% @site.nav_menu.keys[0..2].each do |name| %>
            <li>
            <%= link_to name, @site.nav_menu[name] %> 
            </li>
          <% end %>
          <div data-role='collapsible'>
            <h3>More</h3>
            <ul id='nav' data-role='listview'>
              <% @site.nav_menu.keys[3..-1].each do |name| %>
                <li>
                <%= link_to name, @site.nav_menu[name] %> 
                </li>
              <% end %>
            </ul>
          </div>
        </ul>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id='site_content' data-mercury='full'>
  <%= raw @site.content %>
</div>
