<div class='navbar navbar-fixed-top scroll'>
  <div class="navbar-inner">
    <div class='container'>

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to root_path, class: 'brand', :'data-section' => 'body' do %>
        <%= image_tag('santa_hat_24.png', :style => 'position: relative; right: -24px; margin-top: -21px') %>
        <%= image_tag('logo_green.png', :alt => 'logo') %>
      <% end %>

      <div class='nav-collapse collapse'>
        <ul class='nav pull-right'>
          <%#<li>%>
          <%# link_to "Conact us", '#', :'data-section' => '#footer', class: 'scroller' %>
          <%#</li>%>
          <%#<li>%>
          <%# link_to "About us", '#', :'data-section' => '#footer', class: 'scroller' %>
          <%#</li>%>

          <% if signed_in? %>

            <% if current_user.guest? %>
              <li><h4 class="text-success">Hello Guest!</h4></li> 
            <% else %>
              <li><h4 class="text-success">Hello <%= current_user.name %>!</h4></li> 
            <% end %>

            <li><%= link_to 'Dashboard', current_user %></li>
            <%#<li>%>
            <%# link_to 'Settings', edit_user_path(current_user) %>
            <%#</li>%>
            <li>
            <% if current_user.guest? %>
              <%= link_to 'Save & continue', signup_path, class: 'btn-header' %>
              <%= link_to 'Start over', signout_path, method: 'delete', class: 'btn-header' %>
            <% else %>
              <%= link_to 'Sign out', signout_path, method: 'delete', class: 'btn-header' %>
            <% end %>
            </li>

          <% else %>

            <li><%= link_to 'Sign up', signup_path, class: 'btn-header' %></li>
            <li><%= link_to 'Sign in', signin_path, class: 'btn-header' %></li>

          <% end %>

        </ul>
      </div>
    </div>


  </div>
</div>
