<div class='navbar navbar-fixed-top scroll'>
  <div class="navbar-inner">
    <div class='container'>

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to image_tag('logo_green.png', :alt => 'logo'), root_path, class: 'brand scroller', :'data-section' => 'body' %>
      <div class='nav-collapse collapse'>
        <ul class='nav pull-right'>
          <li><%= link_to "Features", '#', :'data-section' => '#features', class: 'scroller' %></li>
          <li><%= link_to "Contact us", 'mailto:hello@mbilify.com' %></li>

          <% if signed_in? %>

            <li><%= link_to 'Dashboard', current_user %></li>
            <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
            <li>
            <%= link_to 'Sign out', signout_path, method: 'delete', class: 'btn-header' %>
            </li>

          <% else %>

            <li><%= link_to 'Sign up', signup_path, class: 'btn-header' %></li>
            <li><%= link_to 'Sign in', signin_path, class: 'btn-header' %></li>

          <% end %>

        </ul>
      </div>
    </div>


  </div>
</div>
