<!DOCTYPE html>
<html>
  <head>
    <title>Site Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', 'mercury', :media => 'all' %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" %>
    <%= javascript_include_tag 'application', 'mercury' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <a href="#" class="scrolltop" style="display: none; ">
      <span>up</span>
    </a>

    <%= render 'layouts/header' %>

    <div class='container'>
      <div class='row'>
        <div class='span8'>

          <div class='row'>
            <h3 class="section_header left">
              Pick a different template:
            </h3>

            <div id="styles">
              <ul class='thumbnails'>
                <% theme = %w(A B C D E F G H I J K) %>
                <% theme.each do |t| %>
                  <li class='span2'>
                  <%= link_to(image_tag("#{t}.png"), '#', id:"theme#{t}", class:'thumbnail')%>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class='row'>
            <h3 class="section_header left">
              Or edit directly inline:
            </h3>

            <div id='edit_toolbar'>
            </div>
          </div>

        </div>
        <div class='span4'>
          <div class='mobile'>
            <div class='screen' id='mobile_screen'>
              <%#the editor frame should go here%>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <script type="text/javascript">
      // Set to the url that you want to save any given page to, leave null for default handling.
      // this will be a POST request
      var saveUrl = "<%= site_path(request.params[:requested_uri].to_i, params: { mobile: 1 }) %>";

      // Instantiate the PageEditor
      new Mercury.PageEditor(saveUrl, {
        saveStyle:  null, // 'form', or 'json' (default json)
        saveMethod: null, // 'PUT', or 'POST', (create, vs. update -- default PUT)
        visible:    true,  // boolean - if the interface should start visible or not
        iframeSrcUrl: "<%= site_path(request.params[:requested_uri].to_i, params: { mobile: 1 }) %>",
        appendTo: '#mobile_screen',
        toolbarOptions: {
          appendTo: '#edit_toolbar'
        },
        statusbarOptions: {
          appendTo: '#edit_toolbar',
          visible: false
        }
      });
    </script>
  </body>
</html>
