<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%= stylesheet_link_tag 'sites_manifest' %> 
    <%= javascript_include_tag 'sites_manifest' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='home' data-role='page' data-theme='<%= @site.theme %>'>
      <div data-role='content'>
        <%= yield :logo_img %>
        <%= yield :action_buttons %>
        <%= yield :nav_menu %>
        <%= yield %>
        <div id='md_theme' data-mercury='full' style='display:none'><%= @site.theme %></div>
      </div>
    </div>
  </body>
</html>
